.mainContainer {
    height: 100dvh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
}
.container {
    max-width: 900px;
    padding: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 2rem;
    grid-template-columns: 1fr;
}
@media (min-width: 900px) {
    .container {
        gap: 4rem;
        grid-template-columns: 1fr 1fr;
    }
}
.btnContainer {
    min-width: 200px;
    display: grid;
    gap: 0.5rem;
    align-items: center;
    grid-template-columns: 1fr;
}
