.container {
    height: 100dvh;
    padding: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: var(--gap);
}
.btnContainer {
    display: grid;
    gap: 0.5rem;
    align-items: center;
    grid-template-columns: 1fr auto auto;
}
