.menu-item {
    padding: 4px;
    display: grid;
    grid-auto-flow: column;
    align-items: flex-start;
    align-items: center;
    justify-content: start;
    grid-gap: 0.375rem;
    font-weight: var(--fontWeights-semibold);
    cursor: pointer;
    transition-property: var(--transition-property-common);
    transition-duration: var(--transition-duration-normal);
    color: var(--font-color-secondary);
    border-radius: var(--radius-md);
    & svg {
        font-size: 1.5rem;
    }
}
.menu-item:hover {
    background-color: var(--soft-bg-neutral);
}
.menu-item__active {
    background-color: var(--soft-bg);
    color: var(--font-color);
}
.menu-item__active:hover {
    background-color: var(--soft-bg);
    color: var(--font-color);
}
