.item {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    text-align: start;
    align-content: center;
    max-width: 240px;

    transition-property:
        margin-left, border-radius, color, background-color, border-color, text-decoration-color, fill, stroke, width;
}
.itemCollapsed {
    grid-template-columns: auto;
}
.item svg {
    font-size: 1.25rem;
}
@media (min-width: 900px) {
    .itemCollapsed {
        border-radius: 0;
        max-width: 46px;
    }
}
.arrow {
    transition: transform 300ms;
}
.arrowDown {
    transform: rotate(90deg);
}
.myListTransition {
    transition: all 0.25s ease;
}
