.text {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: block;
    text-wrap: nowrap;
}
.icon {
    min-width: 36px;
}
.item {
    padding-bottom: 4px;
}
.btn {
    transition-property: padding-left;
    transition-duration: 300ms;
}
@media (min-width: 900px) {
    .btnCollapsed {
        --radius: 0;
        padding-left: 10px;
    }
}
