.item {
    width: 100%;
    transition-property: margin-left, border-radius, color, background-color, border-color, text-decoration-color, fill,
        stroke;
}
@media (min-width: 900px) {
    .itemCollapsed {
        border-radius: 0;
        max-width: 46px;
    }
}
