.sidebarContainer {
    margin-right: 0.75rem;
    margin-left: 0.75rem;

    transition-property: margin-left, border-radius, width;
    transition-duration: 300ms;
    display: grid;
    grid-auto-rows: min-content;
}
.collapsed {
    margin-right: 0;
    margin-left: 0;
}
.collapseContainer {
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr auto;
    display: grid;
    overflow-y: auto;
}

.muiCollapse {
    height: 100%;
    display: flex;
}
.icon {
    transition-property: transform;
    transition-duration: 300ms;
}
.iconCollapsed {
    transform: rotate(180deg);
}
.btnExpand {
    display: none;
}
.sidebarContainer {
    padding-top: 0.5rem;
}
@container (min-width: 900px) {
    .collapseContainer {
        transition-duration: 300ms;
        width: 250px;
        transition-property: width, max-width;
    }
    .sidebarContainer {
        width: 220px;
    }
    .btnExpand {
        display: block;
    }
    .collapsedContainer {
        width: 46px;
    }
    .collapsed {
        margin-left: 0;
        width: auto;
    }
}
