.info {
    display: grid;
    gap: 0.375rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0.375rem;
}

@container (min-width: 400px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
    .progress {
        grid-column: 1 / span 2;
    }
}
.title {
    display: grid;
    justify-items: start;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}
