.info {
    display: grid;
    gap: 0.375rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0.375rem;
}

.progress {
    grid-row: 2;
    grid-column: 1 / span 2;
    margin-bottom: 0;
}
