.item {
    display: grid;
    align-items: center;
    gap: var(--gap);
    justify-content: space-between;
    grid-auto-flow: column;
    width: 100%;
    text-align: start;
}

@container (min-width: 300px) {
    .text {
        min-width: 10em;
    }
}
.seleBtn {
    container-type: inline-size;
}
