.dropDown {
    svg {
        margin-left: 0.375rem;
    }
}

.row {
    cursor: pointer;

    & svg {
        font-size: 1.25rem;
    }
}
.smallRow {
    display: grid;
    grid-template-columns: 5rem 1fr;

    & svg {
        display: inline;
        font-size: 1.25rem;
    }
}
.smallRowHeader {
    color: var(--muted-foreground);
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
    vertical-align: middle;
    text-align: right;
    padding-right: calc(var(--spacing) * 2);
}
.cardList {
    display: grid;
    gap: var(--gap);
    align-items: start;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: 0 auto;
}
@container (min-width: 890px) {
    .cardList {
        grid-template-columns: minmax(450px, 1fr) 380px;
    }
}
