.item {
    display: grid;
    grid-template-columns: auto 1fr 2rem 2rem;
    margin-top: -1px;
    & svg {
        font-size: 1.25rem;
    }
}

.hr {
    margin-right: calc(4px + var(--radius));
    margin-left: calc(4px + var(--radius));
    margin-top: -1px;
}
.dropDown {
    svg {
        margin-left: 0.375rem;
    }
}
