.dropDown {
    svg {
        margin-left: 0.375rem;
    }
}

.row {
    cursor: pointer;

    & svg {
        font-size: 1.25rem;
    }
}
.smallRow {
    display: grid;
    grid-template-columns: 5rem 1fr;

    & svg {
        display: inline;
        font-size: 1.25rem;
    }
}
.cardList {
    display: grid;
    gap: var(--gap);
    align-items: start;
    grid-template-columns: 1fr;
}
@container (min-width: 600px) {
    .cardList {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}
