.dropDown {
    svg {
        margin-left: 0.375rem;
    }
}

.row {
    cursor: pointer;

    & svg {
        font-size: 1.25rem;
    }
}
.smallRow {
    display: grid;
    grid-template-columns: 5rem 1fr;

    & svg {
        display: inline;
        font-size: 1.25rem;
    }
}
