.areaCards {
    display: grid;
    gap: var(--gap);
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.container {
    container-type: inline-size;
}
.allPage {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    max-height: calc(100dvh - 50px);
    overflow: auto;
}
.side {
    border-bottom: 1px solid var(--border);
}
@container (min-width: 900px) {
    .allPage {
        grid-template-columns: auto 1fr;
        height: 100%;
    }
    .side {
        border-right: 1px solid var(--border);
        border-bottom: none;
    }
}
.enemyInfoUi {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
}
@container (min-width: 350px) {
    .enemyInfoUi {
        grid-template-columns: auto 1fr auto;
    }
}
