.areaCards {
    display: grid;
    gap: 1rem;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.container {
    container-type: inline-size;
}
.allPage {
    display: grid;

    align-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    max-height: calc(100dvh - 50px);
    overflow: auto;
}
.side {
    padding-bottom: 1rem;
    border-bottom: 1px solid hsl(var(--border));
}
@container (min-width: 900px) {
    .allPage {
        grid-template-columns: auto 1fr;
        height: 100%;
        gap: 1rem;
    }
    .side {
        border-right: 1px solid hsl(var(--border));
        border-bottom: none;
    }
}
