.container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.team {
    display: grid;
    gap: 1rem;
    align-items: start;
}
.label {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    max-width: 9em;
    font-size: 0.875rem;
}
.attackLabel {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
}
