.container {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.team {
    display: grid;
    gap: var(--gap);
    align-items: start;
}
.label {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    max-width: 9em;
    font-size: 0.875rem;
}
.attackLabel {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
}
.abilitiesList {
    margin-top: 0.375rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.375rem;
}
.charCard {
    display: grid;
    grid-auto-flow: row;
    gap: 0.375rem;
}
.mainContainer {
    display: grid;
    gap: var(--gap);
    align-items: start;
    grid-auto-flow: row;
}

@container (min-width: 650px) {
    .mainContainer {
        grid-template-columns: 1fr 1fr;
    }
}
