.allies {
    display: grid;
    gap: var(--gap);
    align-items: start;
    grid-auto-flow: row;
    grid-area: characters;
    grid-area: allies;
}
.enemies {
    display: grid;
    gap: var(--gap);
    align-items: start;
    grid-auto-flow: row;
    grid-area: enemies;
}
.team {
    display: grid;
    gap: var(--gap);

    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.label {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    max-width: 9em;
    font-size: 0.875rem;
}
.attackLabel {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
}
.abilitiesList {
    margin-top: 0.375rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.375rem;
}
.charCard {
    display: grid;
    grid-auto-flow: row;
    gap: 0.375rem;
}
.mainContainer {
    display: grid;
    gap: var(--gap);
    grid-template:
        'allies' auto
        'enemies' auto
        'log' auto
        'loot' auto;
}
.lootTable {
    overflow: auto;
    & svg {
        font-size: 1.25rem;
    }
}
.log {
    grid-area: log;
    height: 20rem;
}
.loot {
    grid-area: loot;
    max-height: 20rem;
}
@container (min-width: 900px) {
    .mainContainer {
        grid-template:
            [row1-start] 'allies allies' auto [row1-end]
            [row2-start] 'enemies enemies' auto [row2-end]
            [row3-start] 'loot log' auto [row3-end];
    }
}
