.team {
    display: grid;
    gap: var(--gap);
    grid-area: chars;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.label {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    max-width: 9em;
    font-size: 0.875rem;
}
.attackLabel {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
}
.abilitiesList {
    margin-top: 0.375rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.375rem;
}
.charCard {
    display: grid;
    grid-auto-flow: row;
    gap: 0.375rem;
}
.mainContainer {
    display: grid;
    gap: var(--gap);
    grid-template:
        'chars' auto
        'log' auto
        'loot' auto;
}

.log {
    grid-area: log;
    height: 20rem;
}
.loot {
    grid-area: loot;
    height: 20rem;
}
@container (min-width: 900px) {
    .mainContainer {
        grid-template:
            [row1-start] 'chars chars' auto [row1-end]
            [row2-start] 'loot log' auto [row2-end];
    }
}
.lootRow {
    display: grid;
    grid-auto-flow: column;
    gap: 0.375rem;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto 1fr auto auto;
}

.svgIcon {
    font-size: 1.25rem;
}
