.container {
    --container-padding: 1rem;
    height: calc(100dvh -var(--container-padding));
    width: calc(100dvw -var(--container-padding));
    padding: var(--container-padding);
    padding-top: 0.375rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr;
}

.header {
    grid-column: 1 / span 2;
    overflow: auto;
    display: grid;
    justify-items: start;
    align-items: center;
    display: flex;
    gap: 10px;
    display: grid;
    align-content: space-between;
    border-bottom: var(--border-1px);
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-content: center;
}
.side {
    overflow: auto;
}
.content {
    overflow: auto;
    margin: 0.375rem;
}

.side2 {
    grid-row: 2;
    grid-column: 1 / span 2;
    /* border-bottom: var(--border-1px); */
}
:global(.contentOpen) .side,
:global(.sideOpen) .content,
:global(.sideOpen) .side2 {
    display: none;
}

@media (min-width: 768px) {
    .content {
        margin: 0.5rem;
    }
    .container {
        --container-padding: 1.5rem;
        grid-template-columns: 250px 250px 1fr;
        grid-template-rows: 50px 1fr;
    }
    .header {
        grid-column: 2 / span 2;
    }
    .side {
        grid-row: 1 / span 2;
        /* border-right: var(--border-1px); */
    }
    .side2 {
        grid-row: 2;
        grid-column: 2;
        /* border-right: var(--border-1px); */
        border-bottom: none;
    }
    :global(.contentOpen) .side {
        display: block;
    }
    :global(.sideOpen) .content {
        display: block;
    }
    :global(.sideOpen) .side2 {
        display: block;
    }
}
