.progress__root {
    width: 100%;
    height: 8px;
    overflow: hidden;
    border-radius: var(--joy-radius-md);
    background-color: var(--my-softBg);
}

.progress__bar {
    border-radius: var(--joy-radius-md);
    width: 100%;
    height: 8px;
    opacity: 1;
    background-color: var(--my-plainColor);
    transition: transform 0.2s linear;
}
