.btn {
    padding: 0;
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
    word-wrap: break-word;
    display: inline-flex;
    cursor: pointer;
    appearance: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: var(--radius-md);
    font-weight: var(--fontWeights-semibold);
    transition-property: var(--transition-property-common);
    transition-duration: var(--transition-duration-normal);
    height: var(--sizes-element-width);
    min-width: var(--min-element-width);
    font-size: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    margin: 4px;
    margin-left: 0;
    background: var(--element-bg);
    color: var(--element-color);
}
.btn:hover {
    background: var(--element-bg-hover);
}
.btn:active {
    background: var(--element-bg-active);
}
.btn:focus-visible {
    box-shadow: var(--shadows-outline);
}
