.page__container {
    overflow: auto;
    container-type: inline-size;
}
.page__info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--gap);
    padding: var(--gap);
}
.page__main {
    display: grid;
    gap: var(--gap);
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.page__container-sidebar {
    overflow: auto;
    container-type: inline-size;
}
.page__all {
    overflow: auto;
    display: grid;
    align-items: start;
    justify-content: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'head'
        'side'
        'main';
}

.page__header {
    grid-area: head;
    border-bottom: 1px solid hsl(var(--border));
    overflow-y: auto;
}
.page__sidebar {
    grid-area: side;
    border-bottom: 1px solid hsl(var(--border));
}
.page__main2 {
    grid-area: main;
}

@media (min-width: 768px) {
    .page__main {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

@container (min-width: 900px) {
    .page__main2 {
        overflow: auto;
    }
    .page__all {
        height: 100%;
        align-items: stretch;
        max-height: calc(100dvh - 50px);
        overflow: auto;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            'head head'
            'side main';
    }
    .page__sidebar {
        overflow: auto;
        border-right: 1px solid hsl(var(--border));
        border-bottom: none;
    }
    .page__container-sidebar {
        height: 100%;
    }
}
