.line {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.stats {
    display: grid;
    gap: 0;
    container-type: inline-size;
}
.stat {
    min-width: 10ch;
    display: grid;
    grid-template-columns: 1fr auto;
}
.max {
    text-align: right;
}
@container (min-width: 380px) {
    .line {
        flex-direction: row;
    }
}
