.line {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.stats {
    display: grid;
    gap: 0;
    container-type: inline-size;
}
.stat {
    display: flex;
    flex-direction: row;
}
.max {
    text-align: right;
    text-wrap: nowrap;
}
@container (min-width: 380px) {
    .line {
        flex-direction: row;
    }
    .stat {
        min-width: 10ch;
        display: grid;
        grid-template-columns: 1fr auto;
        text-wrap: nowrap;
    }
}
