.buttons {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: auto;
    gap: 0.5rem;
}
.container {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    justify-content: start;
}
