.title {
    font-weight: var(--fontWeights-semibold);
    margin: 0;
    margin-bottom: 8px;
}

.label {
    font-weight: 500;
    margin: 0;
    margin-bottom: 2px;
    color: var(--font-color-secondary);
}
