.smallCard {
    display: grid;
    gap: 0.375rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0.375rem 0.5rem;
    /* font-size: 0.875rem;
    line-height: 1.25rem; */
}
