.container {
    container-type: inline-size;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.375em;
}

.container:not(:last-child) {
    border-bottom-width: 1px;
    padding-bottom: 0.75rem;
}

.container:not(:first-child) {
    padding-top: 0.75rem;
}

.actions {
    display: grid;
    grid-auto-flow: column;
    justify-self: end;
    gap: 0.1rem;
}

@container (min-width: 420px) {
    .container {
        grid-template-columns: 1fr auto;
        align-items: center;
    }

    .actions {
        grid-column: 2;
        grid-row: 1;
    }
}
