.craftingForm {
    display: grid;
    grid-auto-flow: auto;
    gap: 0.75rem;
}
.timeBadge {
    width: min-content;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: baseline;
    gap: 0.375rem;
}
