.craftingForm {
    display: grid;
    grid-auto-flow: auto;
    gap: 0.75rem;
}
.timeBadge {
    width: min-content;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: baseline;
    gap: 0.375rem;
}
.side {
    display: grid;
    container-type: inline-size;
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: 1fr;
    align-items: start;
}
.item {
    display: grid;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    grid-auto-flow: column;
    width: 100%;
    text-align: start;
}

.seleBtn {
    container-type: inline-size;
}
@container (min-width: 300px) {
    .text {
        min-width: 10em;
    }
}
.selectTrigger {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 0.5rem;
}
