.craftingForm {
    display: grid;
    grid-auto-flow: auto;
    gap: 0.75rem;
}
.timeBadge {
    width: min-content;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: baseline;
    gap: 0.375rem;
}
.side {
    display: grid;
    container-type: inline-size;
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: 1fr;
    align-items: start;
}
