.container {
    height: 100dvh;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    container-type: inline-size;
}

.header {
    grid-column: 1 / span 2;
    overflow: auto;
    display: grid;
    justify-items: start;
    align-items: center;
    display: flex;
    gap: 10px;
    display: grid;
    align-content: space-between;
    border-bottom-width: 1px;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.side {
    display: grid;
    align-items: stretch;
    overflow: auto;
}

:global(.contentOpen) .side,
:global(.sideOpen) .content {
    display: none;
}

@media (min-width: 900px) {
    .container {
        grid-template-columns: auto 1fr;
        grid-template-rows: 50px 1fr;
    }
    .header {
        grid-column: 2 / span 2;
    }
    .side {
        grid-row: 1 / span 2;
        border-right-width: 1px;
    }
    .menu {
        display: none;
    }
    :global(.contentOpen) .side {
        display: grid;
        align-items: stretch;
    }
    :global(.sideOpen) .content {
        display: block;
    }
}
.headerLeft {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
}
