.container {
    height: 100dvh;
    width: 100dvw;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}

.header {
    grid-column: 1 / span 2;
    overflow: auto;
    display: grid;
    justify-items: start;
    align-items: center;
    display: flex;
    gap: 10px;
    display: grid;
    align-content: space-between;
    border-bottom: var(--border-1px);
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-content: center;
}
.side {
    overflow: auto;
}
.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.pageWithSide {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
.content {
    container-type: inline-size;
    overflow: auto;
    padding: 0.375rem;
    background-color: #f3f6f9;
}
[data-mui-color-scheme='dark'] .content {
    background-color: #181d23;
}
.side2 {
    border-bottom: var(--border-1px);
}
:global(.contentOpen) .side,
:global(.sideOpen) .content,
:global(.sideOpen) .side2 {
    display: none;
}

@media (min-width: 900px) {
    .content {
        padding: 0.5rem;
    }
    .container {
        grid-template-columns: auto 1fr;
        grid-template-rows: 50px 1fr;
    }
    .header {
        grid-column: 2 / span 2;
    }
    .side {
        grid-row: 1 / span 2;
        border-right: var(--border-1px);
    }
    .pageWithSide {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
    }
    .side2 {
        border-right: var(--border-1px);
        border-bottom: none;
    }
    .menu {
        display: none;
    }
    :global(.contentOpen) .side {
        display: block;
    }
    :global(.sideOpen) .content {
        display: block;
    }
    :global(.sideOpen) .side2 {
        display: block;
    }
}
