.item {
    display: grid;
    grid-template-columns: auto 1fr 2rem;
    margin-top: -1px;
    & svg {
        font-size: 1.25rem;
    }
}
.itemDisabled {
    color: hsl(var(--muted-foreground));
}
.hr {
    margin-right: calc(4px + var(--radius));
    margin-left: calc(4px + var(--radius));
    margin-top: -1px;
}
