.perkLi {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    grid-gap: 0.375rem;
}
.topPanel {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}
.row {
    cursor: pointer;

    & svg {
        font-size: 1.25rem;
    }
}
.mainPage {
    display: grid;
    gap: 1rem;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.dialog {
    display: block;
}
@media (min-width: 900px) {
    .dialog {
        display: none;
    }
}
