.perkLi {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    grid-gap: 0.375rem;
}
.topPanel {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.row {
    cursor: pointer;

    & svg {
        font-size: 1.25rem;
    }
}
