.CollectSelects {
    display: grid;
    margin-top: var(--gap);
    gap: var(--gap);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.CollectContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}
