:root {
    --radius-md: 6px;
    --fontWeights-semibold: 500;
    --transition-property-common: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    --transition-duration-normal: 200ms;
    --sizes-element-width: 35px;
    --min-element-width: 3rem;

    color-scheme: light;
    --bg-color: #ffffff;
    --font-color: var(--bg-950);
    --font-color-secondary: var(--bg-700);
    --border-color: var(--bg-400);
    --border-color: #e4e4e7;
}

[theme='dark'] body {
    color-scheme: dark;
    --bg-color: #09090b;
    --font-color: var(--bg-50);
    --font-color-secondary: var(--bg-300);
    --border-color: var(--bg-500);
    --border-color: #27272a;
}

html {
    font-family: 'Inter', 'system-ui';
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', 'system-ui';
    }
}

body {
    --border-1px: 1px solid var(--border-color);
    background-color: var(--bg-color);
    color: var(--font-color);
}

.monospace {
    font-family: 'Roboto Mono Variable', monospace;
}

.mb {
    margin-bottom: 8px;
}
.mb-2 {
    margin-bottom: 16px;
}
.my-parent-container {
    container-type: inline-size;
}

.my-container {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr;
    align-items: start;
}

@container (min-width: 768px) {
    .my-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.my-card {
    padding: 8px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-content: start;
    justify-items: start;
    align-content: start;
    border: var(--border-1px);
}
