html {
    font-family: 'Inter', 'system-ui';
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', 'system-ui';
    }
}

.monospace {
    font-family: 'Roboto Mono Variable', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway Variable', 'system-ui';
}

.my-container {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: 1fr;
    align-items: start;
}
@container (min-width: 600px) {
    .my-container-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@container (min-width: 768px) {
    .my-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .my-container-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.CollapsibleContent {
    overflow: hidden;
}
.CollapsibleContent[data-state='open'] {
    animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state='closed'] {
    animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-collapsible-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-collapsible-content-height);
    }
    to {
        height: 0;
    }
}
