.alert {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.alert svg {
    font-size: 1.25rem;
}

.page-container {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.my-container {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: 1fr;
    align-items: start;
}
@container (min-width: 600px) {
    .my-container-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@container (min-width: 768px) {
    .my-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .my-container-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.CollapsibleContent {
    overflow: hidden;
}
.CollapsibleContent[data-state='open'] {
    animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state='closed'] {
    animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-collapsible-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-collapsible-content-height);
    }
    to {
        height: 0;
    }
}

.my-card {
    container-type: inline-size;
}

.my-card-label {
    display: grid;
    justify-content: start;
    align-content: center;
}
@container (min-width: 300px) {
    .my-card-label {
        gap: 1rem;
        grid-auto-flow: column;
    }
}

@container (min-width: 768px) {
    .fixed-height-2 {
        overflow-y: auto;
        max-height: calc(100vh - 50px - 1rem);
    }
}
