.alert {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.alert svg {
    font-size: 1.25rem;
}

.page-container {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.my-container {
    container-type: inline-size;
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: 1fr;
    align-items: start;
}
.grid-span-2 {
    container-type: inline-size;
}
@container (min-width: 600px) {
    .grid-span-2 {
        grid-column: 1 / span 2;
    }
    .my-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.CollapsibleContent {
    overflow: hidden;
}
.CollapsibleContent[data-state='open'] {
    animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state='closed'] {
    animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-collapsible-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-collapsible-content-height);
    }
    to {
        height: 0;
    }
}

.svg-success {
    fill: hsl(var(--success-foreground));
}

.select-trigger {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 0.5rem;
}
