@import '/node_modules/normalize.css/normalize.css';
@import 'ui/colors.css';
@import 'ui/theme.css';

body {
    margin: 0;
    font-family: 'Inter', system-ui;
}

@supports (font-variation-settings: normal) {
    body {
        font-family: 'Inter var', system-ui;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: 0;
    font-weight: 600;
    transition-property: var(--transition-properties);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    height: var(--element-height);
    min-width: var(--element-size);
    font-size: var(--font-size);
    padding-inline-start: var(--padding);
    padding-inline-end: var(--padding);
    background: var(--solid-bg);
    color: var(--solid-bg-font-color);
}
.btn:hover {
    background: var(--solid-bg-hover);
}
.btn:active {
    background: var(--solid-bg-active);
}
.btn:focus-visible {
    box-shadow: 0 0 4px var(--color-300);
}

.menu-item {
    color: var(--font-color-secondary);
    font-weight: 500;
    transition-property: var(--transition-properties);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    border-radius: var(--border-radius);
    padding-inline-start: var(--padding-sm);
    padding-inline-end: var(--padding-sm);
    line-height: 1.2;
    height: var(--list-item-height);
    display: flex;
    align-items: center;
    margin-top: 0.375rem;
}
.menu-item:hover {
    color: var(--font-color);
}
.menu-item__active {
    color: var(--soft-bg-font-color);
    background-color: var(--soft-bg);
}
.menu-item a {
    width: 100%;
}
