:root {
    --border-1px: 1px solid var(--joy-palette-divider);
}

[data-joy-color-scheme='light'] body {
    background-color: var(--joy-palette-neutral-50);
}

.monospace {
    font-family: 'Inconsolata', monospace;
}

.mb {
    margin-bottom: 8px;
}
.mb-2 {
    margin-bottom: 16px;
}
.my-parent-container {
    container-type: inline-size;
}

.my-container {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr;
    align-items: start;
}

@container (min-width: 768px) {
    .my-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .my-container:nth-child(odd) {
        border: var(--border-1px);
    }
}

.my-card {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--joy-palette-background-surface);
    color: var(--joy-palette-neutral-plainColor, var(--joy-palette-neutral-800, #25252d));
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 8px; */
    align-items: start;
    justify-content: start;
    justify-items: start;
    align-content: start;
    border: var(--border-1px);
}

.color-primary {
    --my-softBg: var(--joy-palette-primary-softBg);
    --my-plainColor: var(--joy-palette-primary-plainColor);
}
.color-neutral {
    --my-softBg: var(--joy-palette-neutral-softBg);
    --my-plainColor: var(--joy-palette-neutral-plainColor);
}
.color-danger {
    --my-softBg: var(--joy-palette-danger-softBg);
    --my-plainColor: var(--joy-palette-danger-plainColor);
}
.color-info {
    --my-softBg: var(--joy-palette-info-softBg);
    --my-plainColor: var(--joy-palette-info-plainColor);
}
.color-success {
    --my-softBg: var(--joy-palette-success-softBg);
    --my-plainColor: var(--joy-palette-success-plainColor);
}
.color-warning {
    --my-softBg: var(--joy-palette-warning-softBg);
    --my-plainColor: var(--joy-palette-warning-plainColor);
}
