.progress__root {
    width: 100%;
    height: 8px;
    overflow: hidden;
    border-radius: var(--radius-md);
    background-color: var(--soft-bg);
}

.progress__bar {
    border-radius: var(--radius-md);
    width: 100%;
    height: 8px;
    opacity: 1;
    background-color: var(--plain-color);
    transition: transform 0.2s linear;
}
