.primary {
    --progress-bg: var(--primary-bg);
    --progress-color: var(--primary);
}
.secondary {
    --progress-bg: var(--secondary-bg);
    --progress-color: var(--secondary);
}
.success {
    --progress-bg: var(--success-bg);
    --progress-color: var(--success);
}
.error {
    --progress-bg: var(--destructive-bg);
    --progress-color: var(--destructive);
}
.health {
    --progress-bg: var(--health-bg);
    --progress-color: var(--health);
}
.stamina {
    --progress-bg: var(--stamina-bg);
    --progress-color: var(--stamina);
}
.mana {
    --progress-bg: var(--mana-bg);
    --progress-color: var(--mana);
}

.progress__root {
    width: 100%;
    height: 6px;
    overflow: hidden;
    border-radius: var(--radius);
    background-color: var(--progress-bg);
}

.progress__bar {
    border-radius: var(--radius);
    width: 100%;
    height: 6px;
    opacity: 1;
    background-color: var(--progress-color);
    transition: transform 0.2s linear;
}
