.primary {
    --progress-bg: hsl(var(--primary) / 0.2);
    --progress-color: hsl(var(--primary));
}
.secondary {
    --progress-bg: hsl(var(--secondary) / 0.2);
    --progress-color: hsl(var(--secondary));
}
.success {
    --progress-bg: hsl(var(--success) / 0.2);
    --progress-color: hsl(var(--success));
}
.error {
    --progress-bg: hsl(var(--destructive) / 0.2);
    --progress-color: hsl(var(--destructive));
}
.health {
    --progress-bg: hsl(var(--health) / 0.2);
    --progress-color: hsl(var(--health));
}
.stamina {
    --progress-bg: hsl(var(--stamina) / 0.2);
    --progress-color: hsl(var(--stamina));
}
.mana {
    --progress-bg: hsl(var(--mana) / 0.2);
    --progress-color: hsl(var(--mana));
}

.progress__root {
    width: 100%;
    height: 8px;
    overflow: hidden;
    border-radius: var(--radius);
    background-color: var(--progress-bg);
}

.progress__bar {
    border-radius: var(--radius);
    width: 100%;
    height: 8px;
    opacity: 1;
    background-color: var(--progress-color);
    transition: transform 0.2s linear;
}
